@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Material Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
/* font-awsome v6.2.0 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* Ars Maquette 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-family: 'Manrope', sans-serif;
    color: #000;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.portfolioslick{
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
}
.slick-slide{
    width: 100%;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}
.index{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index .indexmain{
    text-align: center;
    font-size: 100px;
}
.index .scroll{
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index .scroll .scrollimage{
    width: 60px;
    height: 60px;
}
.index .scroll .text{
    padding: 10px 0 0 0;
    font-size: 20px;
    text-align: center;
}
.index .scroll .arrow{
    font-size: 25px;
}
.about{
    width: 100%;
    height: 100vh;
    position: relative;
}
.about .inner{
    width: 60%;
    background: rgba(255,255,255,0.3);
    position:absolute;
    left: 20%;
    padding: 20px 30px;
    border-radius: 20px;
}
.about .title{
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 700;
    padding: 115px 0 30px 0;
}
.about .inner .info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about .inner .info .item{
    font-size: 30px;
    font-weight: 700;
}
.about .inner .info .item span{
    font-weight: 500;
    font-size: 25px;
    margin: 0 0 0 30px;
}
.about .inner .info .item p{
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 0 30px;
}
.project{
    width: 100%;
    height: 100vh;
    position: relative;
}
.project .projectslick{
    position: relative;
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    background: rgba(255,255,255,0.3);
    border-radius: 30px;
}
.project .title{
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 700;
    padding: 115px 0 30px 0;
}
.project .projectslick .project1{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
}
.project .projectslick .projectimage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}
.project .projectslick .project1 .pimage{
    width: 400px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}
.project .projectslick .project1 .buttons{
    display: flex;
    padding: 20px 0 0 0;
    gap: 20px;
}
.project .projectslick .project1 .buttons .button{
    padding: 10px 10px;
    background: #FFF;
    border-radius: 15px;
    cursor: pointer;
}
.project .projectslick .project1 .buttons .button:nth-child(1){
    background: #000;
    color: #FFF;
}
.project .projectslick .info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.project .projectslick .project1 .item{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.project .projectslick .project1 .item span{
    margin-left: 30px;
    font-size: 25px;
    word-break: keep-all;
    font-weight: 500;
}
.project .projectslick .project1 .item .color{
    display: flex;
    gap: 10px;
}
.project .projectslick .info a{
    margin: 10px 0 0 0;
    padding: 10px;
    border: 1px solid #FFF;
    width: 120px;
    text-align: center;
    font-weight: 500;
}
.project .projectslick .info a:hover{
    background: #FFF;
    transition: 1s;
}
.project .projectslick .project2{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
}
.project .projectslick .project2 .pimage{
    width: 400px;
    height: 225px;
    overflow: hidden;
    object-fit: fill;
    object-position: top;
    border-radius: 20px;
}
.project .projectslick .project2 .buttons{
    display: flex;
    padding: 20px 0 0 0;
    gap: 20px;
}
.project .projectslick .project2 .buttons .button{
    padding: 10px 10px;
    background: #FFF;
    border-radius: 15px;
    cursor: pointer;
}
.project .projectslick .project2 .buttons .button:nth-child(1){
    background: #000;
    color: #FFF;
}
.project .projectslick .project2 .item{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.project .projectslick .project2 .item span{
    margin-left: 30px;
    font-size: 25px;
    word-break: keep-all;
    font-weight: 500;
}
.project .projectslick .project2 .item .color{
    display: flex;
    gap: 10px;
}
.project .projectslick .project2 .item .minicolor1{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background: #121212;
    border: 2px solid #FFF;
}
.project .projectslick .project2 .item .minicolor2{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background: #839EFF;
    border: 2px solid #FFF;
}
.project .projectslick .project2 .item .minicolor3{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background: #121212;
    border: 2px solid #FFF;
}
.project .projectslick .project2 .item .minicolor4{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background: #839EFF;
    border: 2px solid #FFF;
}
.project .projectslick .WidthBannerDesign{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
}
.project .projectslick .WidthBannerDesign a{
    height: 120px;
    width: 31.5%;
    margin: 10px;
    background-size: cover;
    background-position: center top;
    border: 1px solid #ddd;
}
.project .projectslick .WidthBannerDesign a .image{
    width: 100%;
    height: 120px;
    object-fit: fill;
}
.project .projectslick .SNSDesign{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}
.project .projectslick .SNSDesign a{
    height: 250px;
    width: 250px;
    margin: 10px;
    background-size: cover;
    background-position: center top;
    border: 1px solid #ddd;
}
.project .projectslick .SNSDesign a .image{
    width: 250px;
    height: 250px;
    object-fit: fill;
}
.contact{
    width: 100%;
    height: 100vh;
}
.contact .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background: rgba(255,255,255,0.3);
    border-radius: 500px;
    margin: 55px auto;
}
.contact .inner .title{
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 700;
}
.contact .inner .item{
    padding: 10px 0;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.contact .inner .item span{
    padding: 0 0 0 30px;
    font-weight: 300;
}
.slick-dots{
    position: absolute;
    top:30%;
}
.slick-dots > li{
    margin: 30px 0 0 40px;
}
.slick-dots .tab{
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}
.slick-dots .tab:hover{
    color: white;
    transition: 0.2s;
}
.slick-dots li.slick-active button{
    color: white;
    transition: 0.5s;
}