@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Material Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
/* font-awsome v6.2.0 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* Ars Maquette 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.portfolioslick{
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
    background: rgb(249,249,249);
}
.index{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("./프로젝트이미지/img.jpg");
}
.index .header{
    position: absolute;
    top: 10%;
    left: 15%;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.index .header span{
    font-size: 22px;
}
.index .indexmain{
    text-align: left;
    position: absolute;
    left: 15%;
    top: 40%;
}
.index .scroll{
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index .scroll .scrollimage{
    width: 60px;
    height: 60px;
}
.index .scroll .text{
    padding: 10px 0 0 0;
    font-size: 20px;
    text-align: center;
}
.index .scroll .arrow{
    font-size: 25px;
}
.about{
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgb(249,249,249);
}

.about .inner{
    width: 90%;
    top: 10%;
    position:absolute;
    left: 5%;
    display: flex;
    justify-content: center;
    border: 1px solid #839EFF;
    align-items: center;
}
.about .title{
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 700;
    padding: 115px 0 30px 0;
}
.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
.about .inner .info{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin: 60px 0 60px 0;
}
.about .inner .info .item p{
    font-size: 50px;
    font-weight: 500;
    border-bottom: 12px solid #839EFF;
    width: 254px;
}
.about .inner .info .item .span{
    font-weight: 300;
    font-size: 25px;
    margin: 20px 0 0 0;
}
.about .inner .info .item .titles{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 5px 0;
}
.about .inner .info .item .titlestext{
    font-size: 16px;
}
.about .inner .aboutimage{
    width: 450px;
    height: 600px;
    border-radius: 20px;
}
.project{
    width: 100%;
    height: 100vh;
    position: relative;
}
.project .projectslick{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.project .projectslick .project1{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.project .projectslick .project2{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.project .projectslick .projectimage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}
.project .projectslick .project2 .pimage{
    width: 400px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}
.project .projectslick .project1 .info{
    display: flex;
    position: absolute;
    width: 90%;
    height: 80vh;
    left: 5%;
    align-items: center;
    border: 1px solid #00a73d;
    padding: 20px 50px;
    justify-content: center;
}
.project .projectslick .project2 .pimage{
    width: 400px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}
.project .projectslick .project2 .info{
    display: flex;
    position: absolute;
    width: 90%;
    height: 80vh;
    left: 5%;
    align-items: center;
    border: 1px solid #2c59ff;
    padding: 20px 50px;
    justify-content: center;
}
.project .projectslick .info .left{
    width: 600px;
}
.project1 .projectth{
    font-size: 30px;
    font-weight: 500;
    color: #00a73d;
    margin: 28px 0 0 0;
}
.project2 .projectth{
    font-size: 30px;
    font-weight: 500;
    color: #2c59ff;
    margin: 28px 0 0 0;
}
.projectname{
    font-size: 50px;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin: 0 0 70px 0;
}
.project1 .projectname a{
    border: 1px solid #00a73d;
    font-size: 16px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    margin: 0 0 0 30px;
    border-radius: 20px;
}
.project1 .projectname a:hover{
    background: #00a73d;
    transition: 1s;
}
.project2 .projectname a{
    border: 1px solid #2c59ff;
    font-size: 16px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    margin: 0 0 0 30px;
    border-radius: 20px;
}
.project2 .projectname a:hover{
    background: #2c59ff;
    transition: 1s;
}
.left .titles{
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.left .infobottom1{
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0 20px 0;
    display: flex;
}
.left .infobottom2{
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0 20px 0;
    display: flex;
}
.left .infotext{
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    word-break: keep-all;
    display: flex;
    align-items: center;
    line-height: 25px;
}
.left .infotext p{
    font-size: 20px;
}
.left .infobottom1 .part1{
    width: 300px;
}
.left .infobottom1 .part2{
    width: 300px;
}
.left .infobottom2 .part1{
    width: 600px;
}
.cbicon{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0 5px 0 0;
}
.edge{
    width: 27px;
    height: 27px;
    object-fit: cover;
    margin: 0 5px 0 0;
}
.left .infotext .color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 20px 0 0;
}
.left .infotext .color span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project1 .palette1{
    background-color: #03FC5D;
    display: inline-block;
    width: 100px;
    height: 20px;
    position: relative;
}
.project1 .palette2{
    background-color: #202020;
    display: inline-block;
    width: 100px;
    height: 20px;
    position: relative;
}
.project2 .palette1{
    background-color: #839EFF;
    display: inline-block;
    width: 100px;
    height: 20px;
    position: relative;
}
.project2 .palette2{
    background-color: #D9D9D9;
    display: inline-block;
    width: 100px;
    height: 20px;
    position: relative;
}
.project .projectslick .project2{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.project .projectslick .projectimage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}
.project .projectslick .info{
    display: flex;
    gap: 50px;
    position: absolute;
    width: 80%;
    left: 6%;
    align-items: center;
}
.project2 .projectname a:hover{
    border: 1px solid #2c59ff;
    transition: 1s;
}
.left .infobottom1{
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0 20px 0;
    display: flex;
}
.left .infobottom2{
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0 20px 0;
    display: flex;
}
.project .projectslick .SNStitle{
    width: 100%;
    font-size: 80px;
    font-weight: 200;
    margin: 65px 0 0 0;
}
.project .projectslick .SNSscreen{
    background: url("./프로젝트이미지/제목\ 없음-6.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.project .projectslick .SNSDesign{
    display: flex;
    gap: 30px;
    width: 70%;
    align-items: center;
    flex-flow: row wrap;
    position: absolute;
    left: 15%;
    justify-content: space-between;
    height: 100vh;
}
.project .projectslick .SNSDesign a{
    height: 300px;
    width: 300px;
    margin: 10px;
    background-size: cover;
    background-position: center top;
    border: 1px solid #ddd;
    overflow:hidden;
}
.project .projectslick .SNSDesign a .image{
    width: 300px;
    height: 300px;
    object-fit: fill;
    transition: all 0.5s linear;
}
.project .projectslick .SNSDesign a .image:hover{
    transform: scale(1.05);
}
.project .projectslick .SNStitle{
    width: 100%;
    font-size: 80px;
    font-weight: 200;
    margin: 65px 0 0 0;
}
.project .projectslick .widthbannerdesignscreen{
    width: 100%;
    height: 100vh;
    background-size: fill;
    background: url("./프로젝트이미지/제목\ 없음-7.png");
}
.project .projectslick .widthbannerdesign{
    display: flex;
    width: 80%;
    position: absolute;
    left: 10%;
}
.project .projectslick .widthbannerdesign a{
    height: 170px;
    width: 400px;
    margin: 10px;
    background-size: cover;
    background-position: center top;
    border: 1px solid #ddd;
    overflow:hidden;
}
.project .projectslick .widthbannerdesign a .image{
    width: 400px;
    height: 170px;
    object-fit: fill;
    transition: all 0.5s linear;
}
.project .projectslick .widthbannerdesign a .image:hover{
    transform: scale(1.05);
}
.secondfloor {
    display: flex;
    gap: 85px;
}
.contact{
    width: 100%;
    height: 100vh;
    background: url("./프로젝트이미지/Contact-us-2.jpg")
}
.contact .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 800px;
    height: 800px;
    border-radius: 500px;
    position: absolute;
    left: 30%;
}
.contact .inner .title{
    margin: 0 0 40px 0;
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 700;
}
.contact .inner .item{
    padding: 10px 0;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    margin: 0 0 0 150px;
}
.contact .inner .item span{
    padding: 0 0 0 30px;
    font-weight: 300;
}
.slick-dots{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0%;
    justify-content: space-between;
    padding: 0 290px;
    background: rgba(236, 230, 204, 0.3);
}
.slick-dots > li{
    height: 60px;
    display: flex;
}
.slick-dots .tab{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
.slick-dots .tab:hover{

}
.slick-dots li.slick-active button{
    color: #964B00;
}
.typing{
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.8rem;
}

.text {
    width: 100%;
    font-size: 35px;
    font-weight: 100;
}

.text::after {
    content: '';
    margin-left: .4rem;
    border-right: 2px solid #777;
    animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
    from { border-right: 2px solid #222; }
    to { border-right: 2px solid rgb(214, 214, 214); }
}
.pjimage{
    width: 850px;
    height: 500px;
    object-fit: fill;
}
.project2 .pjimage{
    width: 700px;
}
.textsetting b{
    font-size: 22px;
    font-weight: 500;
}
.skillicon{
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
    object-fit: cover;
}
.snsmokup{
    width: 28%;
    position: absolute;
    top: 10%;
    left: 42.5%;
}
.snsimage{
    background: url("./프로젝트이미지/SNS디자인/SNS디자인1.png");
    position: absolute;
    width: 310px;
    left: 44.9%;
    top: 34%;
}
.snsimages{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 0 0 10px 0 ;
}
.snsimages:hover{
    cursor: pointer;
    border: 2px solid white;
    transition: 0.5s;
}
.selectimage{
    position: absolute;
    right: 0%;
    width: 350px;
    height: 500px;
    display: flex;
    gap: 10px;
}
.selectimage .left{
    width: 150px;
    height: 500px;
}
.selectimage .right{
    width: 150px;
    height: 500px;
    margin: 80px 0 0 0;
}
.snstitle{
    font-size: 60px;
    font-weight: 200;
}
.snsconcept{
    width: 500px;
    margin: 50px 0 0 0;
    word-break: keep-all;
    font-weight: 500;
}
.snstext{
    position: absolute;
    top: 20%;
}
.wbmokup{
    top: -13%;
    width: 60%;
    position: absolute;
    margin: 0 0 0 50px;
}
.wbtitle{
    font-size: 50px;
    font-weight: 300;
    margin: 140px 0 0 0;
}
.widthbannerdesign .right{
    width: 60%;
}
.widthbannerdesign .left{
    width: 40%;
}
.wbtext{
    word-break: keep-all;
    margin: 50px 0 0 0;
    font-weight: 500;
}
.wbimage{
    width: 800px;
    position: absolute;
    left: 47.2%;
    top: 51%;
    height: 430px;
}
.wbimages{
    width: 300px;
    height: 80px;
    border: 2px solid black;
    z-index: 1000;
}
.wbimages:hover{
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.left .selectimage{
    display: flex;
    position: absolute;
    left: 43%;
    margin: 440px 0 0 0;
}